.top-menu {
    background-color: var(--third-color);
}

main {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-behavior: smooth;
    background-color: var(--main-color);

}

h1,
h3 {
    color: var(--third-color);

}

.sectionAnimal {
    display: flex;
    width: 50%;
    justify-content: end;
}

.sectionAnimal .containerImg {
    margin-top: 15%;
    width: 60%;
    display: flex;
    height: 75%;
}

.sectionAnimal .containerImg img {
    width: 100%;
}

.sectionInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 4%;
}


.apresentationName {
    margin-top: 15%;
}

.shortApresentation {
    margin-top: 1%;
}

.shortApresentation .labelsApresentation {
    margin-top: 1%;
}

.labelsApresentation {
    color: white;
    font-weight: 600;
}

.aboutMe {
    margin-top: 3%;
}

.aboutMe p {
    margin-top: 2%;
    color: white;
    font-weight: 600;
}

.location {
    margin-top: 3%;
    color: white;
    font-weight: 600;
}

.location .city {
    margin-bottom: 1%;

}

.publicacao p {
    display: flex;
    width: 100%;
}

.location .publicacao span {
    color: var(--third-color);
    margin-left: 1%;
}

.behavior {
    margin-top: 3%;
}

.behavior .labels {
    margin-top: 1%;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.behavior .labels p {
    display: flex;
    margin-right: 5%;
    margin-top: 2%;
    font-weight: 600;
    color: var(--third-color);
    background-color: var(--second-color);
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
}

.meDouBem {
    margin-top: 3%;
}

.meDouBem .labels {
    margin-top: 1%;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.meDouBem .labels p {
    display: flex;
    margin-right: 5%;
    margin-top: 2%;
    font-weight: 600;
    color: var(--third-color);
    background-color: var(--second-color);
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
}

.cuidadosVeterinarios {
    margin-top: 3%;
}

.cuidadosVeterinarios .labels {
    margin-top: 1%;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.cuidadosVeterinarios .labels p {
    display: flex;
    margin-right: 5%;
    margin-top: 2%;
    font-weight: 600;
    color: var(--third-color);
    background-color: var(--second-color);
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
}

.button {
    margin-top: 5%;
}

.button button {
    color: white;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    background-color: var(--buttons-color);
    border: 0;
    border-radius: 20px;
    width: 50%;
    height: 77px;
    cursor: pointer;
    margin-bottom: 5%;
}


.button button:hover {
    transition: 0.5s;
    background-color: #e67a16;
}

.blurred-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.modal-contact {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40vh;
    background-color: #8b95d1;
    z-index: 9999;
    margin-top: 15%;
    border-radius: 15px;
    margin-left: 25%;
    display: none;
}

.modal-contact .image {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.modal-contact .image img {
    width: 200px;
    height: 200px;
}

.modal-contact .details {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.modal-contact .details div {
    display: flex;
    align-items: center;
    margin: 2%;
}

.modal-contact .details div p {
    font-size: 17px;
    font-weight: 600;
}

.modal-contact .details .title {
    padding-left: 3%;
}

.modal-contact .details div .image-details {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.modal-contact .details div:nth-child(1) img {
    width: 35px;
    height: 30px;
}

.modal-contact .details div:nth-child(2) img {
    width: 40px;
    height: 30px;
}