#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;

  /* Colors */
  --color-main: #8b95d1;
  --color-second: #dadeff;
  --color-third: #3949ae;
  --color-buttons: #f58d2d;
  --color-text: #ffffff;

  /* Text */

  --font-size-xx-lg: 32px;
  --font-size-x-lg: 28px;
  --font-size-lg: 24px;
  --font-size-md: 20px;
  --font-size-sm: 18px;
  --font-size-x-sm: 16px;
  --font-size-xx-sm: 14px;

  --font-weigth-bold: 700;
  --font-weigth-semi-bold: 600;
  --font-weigth-medium: 500;
  --font-weigth-regular: 400;

  /* Borders */
  --transparent-border: 1px solid transparent;

  /* Font */
  --default-font: 'Montserrat', sans-serif;
}