main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--second-color);
    overflow: hidden;
}

.img-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img{
    width: 80%;
    position: absolute;
}

.forgotPassword-container{
    width: 50%;
    height: 100%;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
}

.forgotPassword-container .forgotPassword-title p{
    font-weight: 600;
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 2%;
}


.forgotPassword-container .forgotPassword-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.forgotPassword-container .forgotPassword-form form .email{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.forgotPassword-container .forgotPassword-form form .email input{
    height: 75px;
    padding-right: 8.5%;
    padding-left: 3%;
}


.forgotPassword-container .forgotPassword-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.forgotPassword-container .forgotPassword-form img{
    width: 50px;
    position: absolute;
    margin-left: 24%;
}


.forgotPassword-container .forgotPassword-form input{
    width: 70%;
    height: 60px;
    font-size: 20px;
    border: var(--trasnparent-border);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.forgotPassword-form input[type="email"]::placeholder {
    font-weight: bold;
    font-size: 20px;
}

.forgotPassword-container .forgotPassword-form input[type="submit"]{
    width: 50%;
    height: 70px;
    font-weight: 600;
    font-size: 26px;
    color: var(--text-color);
    border-radius: 50px;
    color: var(--text-color);
    background-color: var(--buttons-color);
    cursor: pointer;
    box-shadow: none;
}


.forgotPassword-container .options{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    align-items: center;
}

.forgotPassword-container .options a{
    font-weight: 600;
    font-size: 26px;
    color: var(--text-color);
    margin-bottom: 2%;
    text-decoration: none;
}


.forgotPassword-container .forgotPassword-form input[type="submit"]:hover{
    transition: 0.5s ease;
    box-shadow: 2px 2px 10px var(--main-color);
}


.top-menu {
    justify-content: start;
    width: 49%;
}

.top-menu .logo {
    justify-content: start;
}

.top-menu .logo #logo {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    margin-left: 5%;
}

.top-menu .logo:hover #logo {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}


@media screen and (max-width: 1024px) {

    .top-menu {
        width: 90%;
    }

    .top-menu .logo {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .top-menu .logo #logo {
        opacity: 1;
    }

    main {
        flex-direction: column;
        height: 100vh;
        overflow-y: scroll;
        overflow-y: hidden;
    }

    .img-container {
        display: none;
    }

    .forgotPassword-container {
        width: 100%;
        padding-top: 30%;
    }

    .forgotPassword-container .forgotPassword-title p{
        margin-top: 15%;;
        font-size: 35px;
    }


    .forgotPassword-container .forgotPassword-form form {
        width: 90%;
    }

    .forgotPassword-container .forgotPassword-form form .email{
        width: 100%;
    }

    .forgotPassword-container .forgotPassword-form form .email input{
        height: 50px;
        width: 100%;
        padding-right: 15%;
        padding-left: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }


    .forgotPassword-container .forgotPassword-form input[type="submit"] {
        height: 55px;
        width: 80%;
        margin-bottom: 5%;
    }

    .forgotPassword-container .forgotPassword-form img {
        width: 10%;
        margin-left: 75%;
        margin-top: 1.5%;
    }

    .forgotPassword-container .options a{
        font-size: 20px;
        margin-bottom: 5%;
    }

}