main{   
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    overflow: hidden;
}

.img-container{
    width: 51%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container{
    width: 49%;
    height: 100%;
    background-color: var(--buttons-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container .login-title p{
    font-weight: 600;
    font-size: 60px;
    color: var(--text-color);
    margin-bottom: 30%;
}

.login-container .login-form form{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}
.login-container .login-form{
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-container .login-form img{
    width: 100px;
    position: absolute;
    margin-left: 33%;
    margin-top: 1.5%;
}

.login-container .login-form div{
    width: 100%;
    display: flex;
}

.login-container .login-form input{
    width: 100%;
    height: 80px;
    font-size: 20px;
    border: var(--transparent-border);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.login-container .login-form input[type="text"], .login-container .login-form input[type="password"]{
    padding-left: 5%;
    padding-right: 15%;
}


.login-container .login-form input[type="submit"]{
    width: 70%;
    border-radius: 50px;
    background-color: var(--third-color);
    font-size: 26px;
    font-weight: 600;
    color: var(--text-color);
}

.login-container .login-form span{
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

.login-container .login-form span a{
    text-decoration: none;
    color: var(--text-color);
    text-align: end;
}

.login-container .register-btn span{
    font-size: 26px;
    font-weight: 600;
    color: var(--text-color);
}

.login-container .register-btn span a{
    text-decoration: none;
    color: var(--third-color);
}