@media screen and (max-width: 1024px) {
    main {
        margin-top: 69px;
    }
}

@media screen and (max-width: 820px) {
    main {
        margin-top: 305px;
    }
}

@media screen and (max-width: 775px) {
    main {
        margin-top: 295px;
    }
}

@media screen and (max-width: 700px) {
    main {
        margin-top: 290px;
    }
}

@media screen and (max-width: 650px) {
    main {
        margin-top: 280px;
    }
}

@media screen and (max-width: 600px) {
    main {
        margin-top: 275px;
    }
}

@media screen and (max-width: 550px) {
    main {
        margin-top: 270px;
    }
}


@media screen and (max-width: 520px) {
    main {
        margin-top: 260px;
    }
}

@media screen and (max-width: 480px) {
    main {
        margin-top: 255px;
    }
}

@media screen and (max-width: 440px) {
    main {
        margin-top: 250px;
    }
}

@media screen and (max-width: 400px) {
    main {
        margin-top: 240px;
    }
}

@media screen and (max-width: 350px) {
    main {
        margin-top: 230px;
    }
}

@media screen and (max-width: 349px) {
    main {
        margin-top: 235px;
    }
}

@media screen and (max-width: 320px) {
    main {
        margin-top: 225px;
    }
}

@media screen and (max-width: 310px) {
    main {
        margin-top: 230px;
    }
}

@media screen and (max-width: 280px) {
    main {
        margin-top: 225px;
    }
}

@media screen and (max-width: 240px) {
    main {
        margin-top: 250px;
    }

}

@media screen and (max-width: 239px) {
    main {
        margin-top: 270px;
    }

}