@media screen and (min-width: 1400px) {
    main {
        margin-top: 99px;
    }
}

@media screen and (min-width: 1430px) {
    main {
        margin-top: 100px;
    }
}

@media screen and (min-width: 1475px) {
    main {
        margin-top: 101px;
    }
}

@media screen and (min-width: 1530px) {
    main {
        margin-top: 102px;
    }
}

@media screen and (min-width: 1575px) {
    main {
        margin-top: 103px;
    }
}

@media screen and (min-width: 1630px) {
    main {
        margin-top: 104px;
    }
}

@media screen and (min-width: 1675px) {
    main {
        margin-top: 105px;
    }
}

@media screen and (min-width: 1730px) {
    main {
        margin-top: 106px;
    }
}

@media screen and (min-width: 1775px) {
    main {
        margin-top: 107px;
    }
}

@media screen and (min-width: 1830px) {
    main {
        margin-top: 108px;
    }
}

@media screen and (min-width: 1875px) {
    main {
        margin-top: 109px;
    }
}

@media screen and (min-width: 1930px) {
    main {
        margin-top: 110px;
    }
}

@media screen and (min-width: 1975px) {
    main {
        margin-top: 111px;
    }
}

@media screen and (min-width: 2030px) {
    main {
        margin-top: 112px;
    }
}

@media screen and (min-width: 2075px) {
    main {
        margin-top: 113px;
    }
}