@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

button,
input {
    outline: none;
}

body {
    font-family: var(--default-font);
    overflow: hidden;
}

main {
    position: absolute;
    margin-top: 98px;
    overflow: hidden;
}

:root {

    /* Colors */

    --main-color: #8b95d1;
    --second-color: #dadeff;
    --third-color: #3949ae;
    --buttons-color: #f58d2d;
    --text-color: #ffffff;



    /* Text */
    --normal-text-size: 17px;

    /* Borders */
    --transparent-border: 1px solid transparent;

    /* Sizes */

    /* Font */
    --default-font: 'Montserrat', sans-serif;
    --normal-weigth: 400;
}