@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

button,
input {
    outline: none;
}

body {
    font-family: var(--default-font);
}

:root {

    /* Colors */
    --linear-gradient-color-1: #8b95d1;
    --linear-gradient-color-2: #dadeff;
    --linear-gradient-color-3: #f58d2d;

    /* Text */
    --normal-text-size: 17px;

    /* Borders */
    --transparent-border: 1px solid transparent;

    /* Sizes */

    /* Font */
    --default-font: 'Montserrat', sans-serif;
    --normal-weigth: 400;
}