.top-menu {
    display: flex;
    height: 50px;
    width: 98%;
    position: absolute;
    background: transparent;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    z-index: 1000;
}

a{
    text-decoration: none;
}

.top-menu .logo {
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(0.9);
}

.top-menu .logo:hover {
    transition: 0.5s;
    transform: scale(1);
}

.top-menu .logo #logo {
    width: 200px;
    height: 50px;
}

.top-menu .logo .logo-icon {
    display: flex;
    background-color: var(--buttons-color);
    border-radius: 100%;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.top-menu .logo .logo-icon img {
    width: 70px;
    height: 70px;
}

.top-menu .menu {
    width: 65%;
}

.top-menu .menu #menu-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-menu .menu ul li #option {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-weight: 600;
}

.top-menu .menu ul li #option::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: width 0.4s ease, left 0.4s ease;
}

.top-menu .menu ul li #option:hover::before {
    width: 100%;
    left: 0;
}

.top-menu .menu ul li button {
    transition: 0.5s;
    width: 246px;
    height: 48px;
    background-color: var(--buttons-color);
    color: var(--text-color);
    border: var(--transparent-border);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.top-menu .menu ul li button:hover {
    transition: 0.5s;
    box-shadow: 2px 2px 15px var(--text-color);
}

#back{
    display: none;
}

.logged-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 48px;
    background-color: var(--buttons-color);
    border-radius: 10px;
    cursor: pointer;
}

.logged-menu p{
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
    margin-right: 5%;
}

.logged-menu img{
    width: 36px;
    height: 36px;
}

.logged-menu ul{
    background-color: var(--text-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 90%;
    align-items: start;
    list-style: none;
    border-radius: 10px;
    width: 246px;
    font-weight: 600;
    display: none;
}

.logged-menu ul li{
    align-items: center;
    justify-content: center;
    padding: 4%;
    width: 92%;
    text-align: center;
}

.logged-menu ul a{
    text-decoration: none;
    align-self: flex-start;
    color: black;
}

.logged-menu ul li:nth-child(5), .logged-menu ul li:nth-child(3){
    border-top: 1px solid black;
}

.logged-menu ul li:nth-child(3) a, .logged-menu ul li:nth-child(4) a{
    color: var(--third-color);
}

.logged-menu ul li:nth-child(1) a, .logged-menu ul li:nth-child(2) a{
    color: var(--buttons-color);
}

@media screen and (max-width: 820px) {

    #back{
        display: block;
    }
    .top-menu {
        flex-direction: column;
        height: max-content;
        padding: 5%;
        width: 90%;
    }

    .top-menu .menu ul {
        flex-direction: column;
        display: none;
    }

    .top-menu .menu ul li {
        padding: 1%;
    }

    .top-menu .logo {
        justify-content: center;
    }

    .top-menu .logo #logo{
        margin-left: 10%;

    }

    .top-menu .menu ul li button:hover {
        box-shadow: none;
    }

    .top-menu .menu ul li #option::before {
        transition: none;
    }

    .top-menu .menu ul li #option:hover::before {
        width: 0;
        left: 50%;
    }

    .logged-menu ul{
        top: 93%;
    }

    .logged-menu ul li{
        width: 98%;
        height: 35px;
    }


    .logged-menu ul li:nth-child(5), .logged-menu ul li:nth-child(3){
        border-top: 1px solid black;
        padding-top: 5%;
    }

    .logged-menu ul li:nth-child(1){
        padding-top: 5%;
    }
}